body{
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
.ma{
    color: rgb(238, 82, 9);
    text-shadow: 4px 2px 2px  rgb(7, 7, 7) ;
}
.logo{
    font-size: 25px;
    position: absolute;
    padding: 2px;
    margin-left: 10%;
    color: rgb(244, 244, 243);
}
.menu{
    display: inline-block;
    margin-left: 32%;
    padding: 15px;
}
.menu ul li{
    list-style: none;
}
.menu a {
    color: white;
    margin-right: 50px;
    text-decoration: none;
}
a:hover{
    color: rgb(238, 82, 9);
}
header{
    position: sticky; /* fazendo com que meu menu continue na tela apos rolar para baixo */
    top:0;
}
header{
    background-color: rgb(39, 39, 39);
}
.foto{
    width: 380px;
    padding: 10px;
    margin-left: 60%;
    position:absolute;
    border-radius: 30%;
}
.face{
    padding: 80px;
    margin: 40px;
    font-size: 17px;
    line-height: .5;
}
main{
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
}
.palavra{
    text-shadow: 1px 2px 2px  rgb(238, 82, 1);
}
.link{
    margin-left: 7%;
    font-size: 25px;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
    width: 20%;
    padding: 15px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: rgb(252, 251, 251);
}
.link a:hover{
    color: rgb(238, 82, 1);
    text-shadow: 4px 2px 2px  rgb(7, 7, 7) ;
}
.span{
    color: white;
}